SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/power_mode_76.sh"
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/power_mode_76.sh"
