* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #c5c9c5;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#workspaces {
  transition: ease 0.5s;
  background-color: rgba(24, 22, 22, 1);
  border-radius: 10px;
}

#workspaces button {
	color: #c5c9c5;
  border-radius: 10px;
  transition: ease 0.5s;
  padding: 0 6px;
  margin: 2px 3px;
  background-color: transparent;
}

#workspaces button:hover {
  color: #8ba4b0;
  background-color: rgba(139, 164, 176, 0.1);
}

#workspaces button.active {
  color: #8ba4b0;
  border-color: #8ba4b0;
  background-color: rgba(139, 164, 176, 0.1);
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#custom-calculator,
#custom-tray-button,
#tray,
#bluetooth,
#cpu,
#memory,
#power-profiles-daemon,
#custom-bluelight,
#battery,
#temperature,
#custom-quick-settings,
#network,
#clock,
#window {
  padding-top: 0;
  padding-right: 6px;
  padding-bottom: 0;
  padding-left: 6px;
  background-color: rgba(24, 22, 22, 1);
}

#custom-tray-button {
  padding-left: 10px;
	border-radius: 10px 0 0 10px;
}

#battery {
  padding-right: 12px;
  border-radius: 0 10px 10px 0;
}

#bluetooth:hover,
#cpu:hover,
#memory:hover,
#power-profiles-daemon:hover,
#battery:hover,
#custom-bluelight:hover,
#temperature:hover,
#custom-quick-settings:hover,
#network:hover,
#clock:hover {
  color: #8ba4b0;
}

#clock {
  border-radius: 10px;
}

#custom-quick-settings {
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 10px;
  color: #8ba4b0;
  margin-left: 5px;
}
#custom-quick-settings:hover {
  color: #c5c9c5;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #ab0800;
}
#temperature.critical {
  background-color: #ab0800;
}

label:focus {
  background-color: #000000;
}

#custom-no-sleep {
  border-radius: 10px;
  padding-top: 0;
  padding-right: 13px;
  padding-bottom: 0;
  padding-left: 15px;
  margin-right: 5px;
  background-color: rgba(24, 22, 22, 1);
}
/* #idle_inhibitor { */
/*   border-radius: 10px; */
/*   padding-top: 0; */
/*   padding-right: 13px; */
/*   padding-bottom: 0; */
/*   padding-left: 15px; */
/*   margin-right: 5px; */
/*   background-color: rgba(24, 22, 22, 1); */
/* } */

#idle_inhibitor.activated {
  background-color: #232425;
  color: #c5c9c5;
}
