@use "../variables" as vars;
button {
    padding: 5px 20px;
}

.power-profile-button {
  padding: 5px 40px;
  background-color: vars.$background;
}

.power-saver {
  border: 1px solid vars.$border;
}
.balanced {
  border: 1px solid vars.$border; 
}
.performance {
  border: 1px solid vars.$border;
}

.power-saver-active {
  border: 1px solid;
  color: vars.$blue;
}
.balanced-active {
  border: 1px solid;
  color: vars.$orange;
}
.performance-active {
  border: 1px solid;
  color: vars.$red;
}

.power-saver:hover {
  border: 1px solid vars.$blue;
}
.balanced:hover {
  border: 1px solid vars.$orange;
}
.performance:hover {
  border: 1px solid vars.$red;
}
