@use "../variables" as vars;

.window {
  background-color: vars.$background;
  border-radius: 10px;
  font-family: "CaskaydiaMono Nerd Font";
  color: vars.$foreground;
  // border: 2px solid vars.$border;
}

.scrollWindow {
  .frame {
    border-style: none;
  }
  .trough {
    border-style: none;
  }
}

.scrollWindow trough slider {
  all: unset;
}

button {
  all: unset;
  background-color: vars.$background;
}

button:hover {
  background-color: vars.$lightened;
}

.icon-button {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 15px;
}
