$warning: #AB0800;

$blue: #8ba4b0;
$green: #8a9a7b;
$red: #c4746e;
$orange: #b6927b;
$yellow: #e6c384;
$purple: #938aa9;
$cyan: #7aa89f;
$background: #181616;
$foreground: #c5c9c5;
$border: #484848;
$lightened: rgba(255, 255, 255, 0.1);
